/** Button Group Styles **/

div.al-button-group button.al-button:first-child {
    margin-left: 15px;
}

div.al-button-group button.al-button:nth-child(2) {
    margin-left: 15px;
}

div.al-button-group button.al-button:last-child {
    margin-right: 15px;
}

/*-----------------------*/
