/** Button Group Styles **/

div.al-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}

div.al-button-group button.al-button {
    flex: 0 0 150px;  /* Fixed 120px width in groups too */
    width: 150px;
}


/*-----------------------*/
